
<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>UUID</th>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% tccs.forEach(function(tcc, index) { %>
        <tr>
          <th><%= index + 1 %></th>
          <td><%= tcc.uuid %></td>
          <td><%= tcc.employeeid %></td>
          <td><%= tcc.name %></td>
          <td><%= tcc.email %></td>
          <td><%= tcc.phone %></td>
          <td>
            <!-- Add your action buttons/links here -->
            
            <button class="btn btn-sm btn-error btn-outline" data-employeeid = "<%= tcc.employeeid %>" data-role = "tcc" onclick="DeleteEmployee(this)"><span class="material-symbols-outlined">delete</span>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</div>
