<div class="prose mt-10">
    <h1 class="ml-10 font-sans">Select Your <span class="text-secondary">ROLE</span></h1>
</div>
<div class="divider"></div>
<div class="grid gap-3 mx-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <%- include('./partials/role.section.ejs',{role : "ALUMNI", id : "alumni"}) %>
    <%- include('./partials/role.section.ejs',{role : "MENTOR", id : "mentor"}) %>
    <%- include('./partials/role.section.ejs',{role : "STUDENT", id : "student"}) %>
    <%- include('./partials/role.section.ejs',{role : "ADMIN", id : "admin"}) %>
    <%- include('./partials/role.section.ejs',{role : "TRAINING STAFF", id : "training"}) %>
</div>
