<div class="prose mt-10">
    <h2 class="ml-10 font-sans">Select Your <span class="text-secondary">ROLE</span></h2>
</div>
<div class="divider"></div>
<div class="grid gap-3 mx-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <%- include('./partials/role.section.ejs',{role : "ALUMNI", id : "alumni", imgurl : "https://img.freepik.com/free-vector/graduates-wearing-mask-theme_23-2148572014.jpg"}) %>
    <%- include('./partials/role.section.ejs',{role : "MENTOR", id : "mentor", imgurl : "https://img.freepik.com/free-vector/illustrated-woman-being-intern-company_23-2148726151.jpg"}) %>
    <%- include('./partials/role.section.ejs',{role : "STUDENT", id : "student", imgurl : "https://img.freepik.com/free-vector/happy-students-jumping-with-flat-design_23-2147907626.jpg"}) %>
    <%- include('./partials/role.section.ejs',{role : "ADMIN", id : "admin", imgurl : "https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899113.jpg"}) %>
    <%- include('./partials/role.section.ejs',{role : "TNC CELL STAFF", id : "training", imgurl : "https://img.freepik.com/free-vector/organic-flat-people-business-training_23-2148909572.jpg"}) %>
</div>
